Proyecto/Service References/ws/wsCentroMedico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clPaciente" nillable="true" type="tns:clPaciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclPaciente" nillable="true" type="tns:ArrayOfclPaciente" />
  <xs:complexType name="clPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocupacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clPaciente" nillable="true" type="tns:clPaciente" />
  <xs:complexType name="ArrayOfclCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clCita" nillable="true" type="tns:clCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclCita" nillable="true" type="tns:ArrayOfclCita" />
  <xs:complexType name="clCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="CedulaPaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaCita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraCita" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDCita" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDFactura" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Medico" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clCita" nillable="true" type="tns:clCita" />
</xs:schema>