Proyecto/Service References/ws/wsCentroMedico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clCita" nillable="true" type="tns:clCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclCita" nillable="true" type="tns:ArrayOfclCita" />
  <xs:complexType name="clCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="CedulaPaciente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaCita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraCita" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDCita" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDFactura" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Medico" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clCita" nillable="true" type="tns:clCita" />
  <xs:complexType name="ArrayOfclPacienteCNA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clPacienteCNA" nillable="true" type="tns:clPacienteCNA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclPacienteCNA" nillable="true" type="tns:ArrayOfclPacienteCNA" />
  <xs:complexType name="clPacienteCNA">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="forUI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clPacienteCNA" nillable="true" type="tns:clPacienteCNA" />
  <xs:complexType name="ArrayOfclEmpleadoANNII">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clEmpleadoANNII" nillable="true" type="tns:clEmpleadoANNII" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclEmpleadoANNII" nillable="true" type="tns:ArrayOfclEmpleadoANNII" />
  <xs:complexType name="clEmpleadoANNII">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDEmpleado" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDEspecialidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="forUI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clEmpleadoANNII" nillable="true" type="tns:clEmpleadoANNII" />
  <xs:complexType name="ArrayOfclSede">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clSede" nillable="true" type="tns:clSede" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclSede" nillable="true" type="tns:ArrayOfclSede" />
  <xs:complexType name="clSede">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDSede" type="xs:decimal" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="forUI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clSede" nillable="true" type="tns:clSede" />
  <xs:complexType name="ArrayOfclHorario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clHorario" nillable="true" type="tns:clHorario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclHorario" nillable="true" type="tns:ArrayOfclHorario" />
  <xs:complexType name="clHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" type="xs:decimal" />
      <xs:element minOccurs="0" name="forUI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clHorario" nillable="true" type="tns:clHorario" />
</xs:schema>